In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
pd.set_option("max_colwidth", 270)
db= pd.read_parquet(r'dbOK_small.parquet')

In [3]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44285 entries, 0 to 45458
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 44285 non-null  int64
 1   id                    44285 non-null  int64
 2   title                 44285 non-null  string
 3   genres                44285 non-null  string
 4   overview              44285 non-null  string
 5   tagline               44285 non-null  string
 6   spoken_languages      44285 non-null  string
 7   original_language     44285 non-null  string
 8   budget                44285 non-null  int64
 9   revenue               44285 non-null  int64
 10  popularity            44285 non-null  float64
 11  release_date          44285 non-null  datetime64[ns]
 12  runtime               44285 non-null  int64
 13  production_companies  44285 non-null  string
 14  production_countries  44285 non-null  string
 15  vote_average          44285 non-null  float64
 16  vote_count            44285 non-null  int64
 17  release_year          44285 non-null  int64
 18  return                44285 non-null  float64
 19  cast                  44285 non-null  string
 20  director              44285 non-null  string
 21  crew1                 44285 non-null  string
 22  crew2                 44285 non-null  string
 23  crew3                 44285 non-null  string
 24  crew4                 44285 non-null  string
dtypes: datetime64[ns](1), float64(3), int64(7), string(14)
memory usage: 8.8 MB

In [4]:
db=db.drop_duplicates(subset=['overview', 'title'])

In [5]:
def is_cjk_arabic_hebrew_russian(s):
    return bool(re.search(r'[\u4E00-\u9FFF\u3040-\u30FF\u0600-\u06FF\u0590-\u05FF\u0400-\u04FF]', s))

# Drop rows where the 'title' column contains Chinese, Japanese, Arabic, Hebrew or Russian characters
db= db[~db['overview'].apply(is_cjk_arabic_hebrew_russian)]

In [6]:
def is_cjk_arabic_hebrew_russian_polish(s):
    return bool(re.search(r'[\u4E00-\u9FFF\u3040-\u30FF\u0600-\u06FF\u0590-\u05FF\u0400-\u04FF\u0100-\u017F]', s))
# Drop rows where the 'title' column contains Chinese, Japanese, Arabic, Hebrew, Russian or Polish characters
db = db[~db['overview'].apply(is_cjk_arabic_hebrew_russian_polish)]

In [7]:
db = db[~db['title'].apply(is_cjk_arabic_hebrew_russian_polish)]

In [8]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44285 entries, 0 to 45458
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 44285 non-null  int64
 1   id                    44285 non-null  int64
 2   title                 44285 non-null  string
 3   genres                44285 non-null  string
 4   overview              44285 non-null  string
 5   tagline               44285 non-null  string
 6   spoken_languages      44285 non-null  string
 7   original_language     44285 non-null  string
 8   budget                44285 non-null  int64
 9   revenue               44285 non-null  int64
 10  popularity            44285 non-null  float64
 11  release_date          44285 non-null  datetime64[ns]
 12  runtime               44285 non-null  int64
 13  production_companies  44285 non-null  string
 14  production_countries  44285 non-null  string
 15  vote_average          44285 non-null  float64
 16  vote_count            44285 non-null  int64
 17  release_year          44285 non-null  int64
 18  return                44285 non-null  float64
 19  cast                  44285 non-null  string
 20  director              44285 non-null  string
 21  crew1                 44285 non-null  string
 22  crew2                 44285 non-null  string
 23  crew3                 44285 non-null  string
 24  crew4                 44285 non-null  string
dtypes: datetime64[ns](1), float64(3), int64(7), string(14)
memory usage: 8.8 MB

In [9]:
result = db[db['overview'].apply(is_cjk_arabic_hebrew_russian)].sort_values(by='title')
print(result)

Empty DataFrame
Columns: [index, id, title, genres, overview, tagline, spoken_languages, original_language, budget, revenue, popularity, release_date, runtime, production_companies, production_countries, vote_average, vote_count, release_year, return, cast, director, crew1, crew2, crew3, crew4]
Index: []

[0 rows x 25 columns]

In [10]:
db = db[db['overview'] != '*Unavailable']

In [11]:
db.describe()

,index,id,budget,revenue,popularity,runtime,vote_average,vote_count,release_year,return
count,44285.000000,44285.000000,4.428500e+04,4.428500e+04,44285.000000,44285.000000,44285.000000,44285.000000,44285.000000,4.428500e+04
mean,22515.151609,106931.395981,4.332165e+06,1.149217e+07,2.980220,94.976064,5.638636,112.526928,1991.784848,6.763022e+02
std,13109.081625,111861.793394,1.763387e+07,6.514722e+07,6.070431,37.537648,1.895731,497.494373,24.155876,7.560771e+04
min,0.000000,2.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1874.000000,0.000000e+00
25%,11138.000000,25894.000000,0.000000e+00,0.000000e+00,0.405327,85.000000,5.000000,3.000000,1978.000000,0.000000e+00
50%,22404.000000,58483.000000,0.000000e+00,0.000000e+00,1.163695,95.000000,6.000000,10.000000,2001.000000,0.000000e+00
75%,33826.000000,153266.000000,0.000000e+00,0.000000e+00,3.826243,107.000000,6.800000,35.000000,2010.000000,0.000000e+00
max,45458.000000,469172.000000,3.800000e+08,2.787965e+09,547.488298,1256.000000,10.000000,14075.000000,2020.000000,1.239638e+07

In [12]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44285 entries, 0 to 45458
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 44285 non-null  int64
 1   id                    44285 non-null  int64
 2   title                 44285 non-null  string
 3   genres                44285 non-null  string
 4   overview              44285 non-null  string
 5   tagline               44285 non-null  string
 6   spoken_languages      44285 non-null  string
 7   original_language     44285 non-null  string
 8   budget                44285 non-null  int64
 9   revenue               44285 non-null  int64
 10  popularity            44285 non-null  float64
 11  release_date          44285 non-null  datetime64[ns]
 12  runtime               44285 non-null  int64
 13  production_companies  44285 non-null  string
 14  production_countries  44285 non-null  string
 15  vote_average          44285 non-null  float64
 16  vote_count            44285 non-null  int64
 17  release_year          44285 non-null  int64
 18  return                44285 non-null  float64
 19  cast                  44285 non-null  string
 20  director              44285 non-null  string
 21  crew1                 44285 non-null  string
 22  crew2                 44285 non-null  string
 23  crew3                 44285 non-null  string
 24  crew4                 44285 non-null  string
dtypes: datetime64[ns](1), float64(3), int64(7), string(14)
memory usage: 8.8 MB

In [13]:
db.tail(200).sort_values(by='title')

,index,id,title,genres,overview,tagline,spoken_languages,original_language,budget,revenue,...,vote_average,vote_count,release_year,return,cast,director,crew1,crew2,crew3,crew4
45322,45322,43656,13 Moons,"Comedy, Drama",Can you solve the mystery of the 13 moons?,*Unavailable,en English,en,0,0,...,5.8,4,2002,0.0,"Jennifer Beals, Elizabeth Bracco, Steve Buscemi, Peter Dinklage, Daryl Mitchell, Karyn Parsons, David Proval, Rose Rollins, Peter Stormare, Pruitt Taylor Vince, Gareth Williams, Austin Wolff, Danny Trejo, Sam Rockwell",Alexandre Rockwell,Alexandre Rockwell,Brandon Cole,John David Allen,Sheila Jaffe
45418,45418,143117,"A Black Rose Is an Emblem of Sorrow, a Red Rose an Emblem of Love","Fantasy, Comedy, Romance, Drama","The story happens mainly around ""The Old Arbat Street"" in the center of Moscow, where always concentrate vendors, poor young artists and musicians. The hero of this film is a boy named Mitiya,who lives with eccentric elder friend in an apartment house on ""The Old Ar...",*Unavailable,ru Pусский,ru,0,0,...,6.5,4,1989,0.0,"Tatyana Drubich, Aleksandr Abdulov, Aleksandr Zbruev, Lyudmila Saveleva, Aleksandr Bashirov, Mikhail Danilov, Mikhail Rozanov, Viktor Beshlyaga, Valeri Burtashov",Sergey Solovyov,Sergey Solovyov,*Unavailable,*Unavailable,*Unavailable
45367,45367,408624,A Death in the Gunj,*Unavailable,A sensitive university student unraveling while on a week-long vacation with a crowd of cocksure relatives and family friends.,*Unavailable,bn বাংলা en English,en,0,0,...,7.0,5,2016,0.0,"Vikrant Massey, Ranvir Shorey, Kalki Koechlin, Tillotama Shome, Gulshan Devaiah, Tanujaa, Om Puri, Jim Sarbh, Arya Sharma",Konkona Sen Sharma,Konkona Sen Sharma,Abhishek Chaubey,Mukul Sharma,Aarif Sheikh
45344,45344,188421,A History of Horror with Mark Gatiss,Documentary,"Mark Gatiss examines the history of the horror film, from classic Hollywood monsters to Hammer's glory days and beyond.",*Unavailable,en English,en,0,0,...,9.0,3,2010,0.0,"John Carpenter, Roger Corman, Tobe Hooper, George A. Romero, Mark Gatiss, Barbara Steele, Jimmy Sangster",John Das,Rachel Jardine,Glenn Rainton,Natasha Martin,Dan Rack
45251,45251,56841,A Thousand Times Stronger,Drama,The arrival of a new girl causes a stir in classroom social structure.,*Unavailable,sv svenska,sv,0,0,...,5.7,5,2010,0.0,"Katharina Cohen, Hjalmar Ekstrm, Sten Elfstrm, Jacob Ericksson, Fanny Klefelt, Nathalie Fredholm, Charlie Gustafsson, Gerd Hegnell, Happy Jankell, Fredrik Johansson, Jonas Kruse, Joakim Lang, Sara Linderholm, Allis Lindqvist",Anders Nylander,Peter Schildt,Christina Herrström,Rolf Lindström,*Unavailable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45352,45352,270762,What a Fuck Am I Doing on This Battlefield,*Unavailable,"A portrait of the dark and tortured world of artist Matt Elliott, who opens up in rehearsals, interviews or writings. With disturbing clarity of expression, Elliott discusses his depression and the magic of inspiration, or reveals his heartfelt political opinions.",*Unavailable,*Unavailable,en,0,0,...,0.0,0,2013,0.0,*Unavailable,Julien Fezans,Nico Peltier,*Unavailable,*Unavailable,*Unavailable
45409,45409,282308,"Whiffles, Cubic Artist",Comedy,"After visiting the first Cubist exposition in Paris, Rigadin (Charles Prince) is struck by his discovery: A egg is a rhombus, the earth a cube! Unfortunately, he is engaged to Miss Rondebosse (Gabrielle Lange), whose father is head of the Tradition...",*Unavailable,fr Français,en,0,0,...,0.0,0,1912,0.0,"Charles Prince, Gabrielle Lange",Georges Monca,*Unavailable,*Unavailable,*Unavailable,*Unavailable
45332,45332,430365,With Open Arms,Comedy,"Jean-Étienne Fougerole is an intellectual bohemian who released his new novel ""In Open Arms"" and calling the wealthiest people to welcome home the families in need. While he promotes his book during a televised debate, his opponent criticized him for not applying wh...",Thanks for the invitation!,en English fr Français ru Pусский,fr,0,0,...,5.2,94,2017,0.0,"Christian Clavier, Ary Abittan, Elsa Zylberstein, Cyril Lecomte, Nanou Garcia, Oscar Berthe, Mirela Nicolau, Ioana Visalon",Patrice Ledoux,Christian Clavier,Philippe Guilbert,Philippe de Chauveron,Marc de Chauveron
45297,45297,101801,Year of the Devil,"Music, Comedy, Documentary","Documentary maker Jan Holman follows the ultrafamous singer/songwriter Jaromír Novahica during his tour with the band Cechomor. The combination is very succesful, but it draws a heavy toll on the band members and Jan Holman.",A sad comedy about angels,cs Český,cs,0,0,...,7.7,6,2002,0.0,"Jaromr Nohavica, Karel Plhal, Jan Prent, Karel Holas, Frantiek ern, Radek Poboil, Michal Pavlk, Radek Kluka, Jaz Coleman",Petr Zelenka,Petr Zelenka,Cestmír Kopecký,Miro Gábor,Milan Kuchynka
45393,45393,38326,Yuri's Day,"Mystery, Drama",A mother loses her son during a winter visit to a remote town.,*Unavailable,ru Pусский,ru,0,0,...,6.5,4,2008,0.0,"Kseniya Rappoport, Roman Shmakov, Yevgeniya Kuznetsova, Sergey Sosnovskiy, Sergey Medvedev, Igor Khripunov",Kirill Serebrennikov,Yuriy Arabov,*Unavailable,*Unavailable,*Unavailable

In [14]:

dup=db[db.title.str.contains('20.000')].sort_values(by='title')
print(dup)

       index      id                          title  \
24102  24102  246400           20,000 Days on Earth
994      994     173   20,000 Leagues Under the Sea
13020  13020   30266   20,000 Leagues Under the Sea
20865  20865    2966   20,000 Leagues Under the Sea
24119  24119    2965   20,000 Leagues Under the Sea
11440  11440   42822      20,000 Years in Sing Sing
6522    6522   35073  The Beast from 20,000 Fathoms

                                            genres  \
24102                    Documentary, Drama, Music
994              Adventure, Drama, Science Fiction
13020    Adventure, Drama, Action, Science Fiction
20865  Adventure, Fantasy, Action, Science Fiction
24119           Adventure, Action, Science Fiction
11440                                 Drama, Crime
6522            Adventure, Horror, Science Fiction

                                                                                                                                                                                                                                                                            overview  \
24102                                                                                                                                                                           A semi-fictionalized documentary about a day in the life of Australian musician Nick Cave's persona.
994                                                                                                                                             A ship sent to investigate a wave of mysterious sinkings encounters the advanced submarine, the Nautilus, commanded by Captain Nemo.
13020      Captain Nemo has built a fantastic submarine for his mission of revenge. He has traveled over 20,000 leagues in search of Charles Denver - a man who caused the death of Princess Daaker. Seeing what he had done, Denver took the daughter to his yacht and sailed away.
20865  The year is 1886, when New England's fishing harbours are the scene for a "creature of unknown origin" destroying ships at sea. It is the job of Professor Pierre Aronnax, a marine expert, and Ned Land, the iron willed sailor, to learn the truth of the "monster" roam...
24119                                     In the 19th century, an expert marine biologist is hired by the government to determine what's sinking ships all over the ocean. His daughter follows him. They are intercepted by a mysterious captain Nemo and his incredible submarine.
11440                                                                                                                         Brash hoodlum Tom Connors enters Sing Sing cocksure of himself and disrespectful toward authority, but his tough but compassionate warden changes him.
6522   The Beast from 20,000 Fathoms is a 1953 science fiction film directed by Eugène Lourié and stars Paul Christian, Paula Raymond and Cecil Kellaway with visual effects by Ray Harryhausen. The film is about an atomic bomb test in the Arctic Circle that unfreezes a hibe...

                                                                                             tagline  \
24102                                                                                   *Unavailable
994                                                        The mightiest motion picture of them all!
13020                                                      The First Submarine Photoplay Ever Filmed
20865                                                            Welcome to the last place on earth.
24119                                                   Darkness is to be feared... above and below.
11440  MEN without WOMEN...MEN without HOPE! smash their lives to pieces against their STEEL CHAINS!
6522                                                                                    It's alive !

                 spoken_languages original_language   budget   revenue  ...  \
24102                 en  English                en        0         0  ...
994                   en  English                en  5000000  28200000  ...
13020                 en  English                en   200000   8000000  ...
20865                 en  English                en        0         0  ...
24119                 en  English                en        0         0  ...
11440                 en  English                en        0         0  ...
6522    en  English  fr  Français                en   210000   5000000  ...

       vote_average vote_count  release_year     return  \
24102           7.0         73          2014   0.000000
994             6.9        160          1954   5.640000
13020           6.0          7          1916  40.000000
20865           4.6         13          1997   0.000000
24119           6.3          3          1997   0.000000
11440           5.8         10          1932   0.000000
6522            6.7         41          1953  23.809524

                                                                                                                                                                                                                                                                                cast  \
24102                                                                                                                                              Nick Cave, Warren Ellis, Blixa Bargeld, Susie Bick, Arthur Cave, Earl Cave, Kirk Lake, Darian Leader, Kylie Minogue, Ray Winstone
994    Kirk Douglas, James Mason, Paul Lukas, Peter Lorre, Robert J. Wilke, Ted de Corsia, Carleton Young, J. M. Kerrigan, Percy Helton, Ted Cooper, Gloria Pall, Ron Nyman, Fred Graham, Harry Harvey, Charles Grodin, Harper Goff, Eddie Marr, Jack Gargan, John Daheim, Jack S...
13020                                                                              Lois Alexander, Curtis Benton, Wallace Clarke, Howard Crampton, Jane Gail, Joseph W. Girard, Dan Hanlon, Allen Holubar, Leviticus Jones, Matt Moore, Martin Murphy, Edna Pendleton, William Welsh
20865  Michael Caine, Mia Sara, Bryan Brown, John Bach, Nicholas Hammond, Peter McCauley, Kerry Armstrong, Patrick Dempsey, Adewale Akinnuoye-Agbaje, Cecily Chun, Ken Senga, Gerry Day, Steven Grives, Boe Kaan, Damian Monk, Jeff Dornan, Gabriel Carr, Peter Settle, Peter Sch...
24119                                                                                                                  Richard Crenna, Ben Cross, Julie Cox, Michael Jayston, Jeff Harding, David Henry, James Vaughan, Susannah Fellows, Joshua Brody, Phillip Van Dyke, Paul Gross
11440  Spencer Tracy, Bette Davis, Arthur Byron, Lyle Talbot, Warren Hymer, Louis Calhern, Spencer Charters, G. Pat Collins, Lucille Collins, James Donlan, Mike Donlin, Rockliffe Fellowes, Sam Godfrey, Betty Jane Graham, Oscar Dutch Hendrian, Arthur Hoyt, Harold Huber, Wil...
6522                       Paul Hubschmid, Paula Raymond, Cecil Kellaway, Kenneth Tobey, Donald Woods, Lee Van Cleef, Steve Brodie, Ross Elliott, Jack Pennick, Ray Hyke, Paula Hill, Michael Fox, Alvin Greenman, Frank Ferguson, King Donovan, James Best, Roy Engel, Bess Flowers

                director             crew1              crew2           crew3  \
24102       Iain Forsyth      Jane Pollard          Nick Cave    Iain Forsyth
994    Richard Fleischer       Jules Verne        Earl Felton     Walt Disney
13020        Jules Verne      Carl Laemmle       Carl Laemmle   Eugene Gaudio
20865        Jules Verne         Mark Snow       Brian Nelson       Rod Hardy
24119         John Davis       Jules Verne     Cliff Robinson       Alan Hume
11440     Michael Curtiz        Orry-Kelly   Darryl F. Zanuck      George Amy
6522     Edward G. Boyle   John L. Russell      Eugène Lourié   Eugène Lourié

                     crew4
24102         Jane Pollard
994          Paul J. Smith
13020        Frank Ormston
20865          Dean Barnes
24119   Brian Ackland-Snow
11440        Bernhard Kaun
6522         Eugène Lourié

[7 rows x 25 columns]

In [16]:
db.to_parquet('dbOK_small.snappy.parquet', engine='pyarrow', compression='snappy')